{{ attach_library('upss/upss.catalog') }}
<div class="phone-wide">
    <div class="phone-image">
        {{ image }}
    </div>
    <div class="phone-wide-description">
        <h2>{{ phone['name'] }}</h2>
        <p>
            {{ phone['description'] }}
        </p>
    </div>
    <div class="phone-table">
        {{ table }}
    </div>
</div>