{{ attach_library('upss/upss.catalog') }}
<div class="phone">
    <div class="phone-image">
        <a href="{{ phone['url'] }}" class="phone-link">{{ image }}</a>
    </div>
    <div class="phone-description">
        <a href="{{ phone['url'] }}"><strong>{{ phone['name'] }}</strong></a>
        <p>
            {{ phone['description'] }}
        </p>
    </div>
</div>